*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main{
    width: 80vh;    
    height: 99vh;
    background-color: bisque;
    padding-left: 20px;
    padding-top: 5px;
    margin-top:5px;
    margin-left: 32%;
}
h3, h4{
    padding-top: 10px;
}